Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
ConnectionStrings__DefaultConnection=
ConnectionStrings__CollectorConnection=
ConnectionStrings__RedisConnection=
ConnectionStrings__LokiConnection=
Osu__ClientId=
Osu__ClientSecret=
Osu__RedirectUrl=
Jwt__Key=
Jwt__Audience=
Jwt__Issuer=
Auth__ClientCallbackUrl=
Auth__EnforceWhitelist=false
RateLimit__PermitLimit=30
RateLimit__Window=60
