Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
ConnectionStrings__DefaultConnection=
ConnectionStrings__CollectorConnection=
ConnectionStrings__RedisConnection=
Osu__ClientId=
Osu__ClientSecret=
Jwt__Key=
Jwt__Audience=
Auth__ClientCallbackUrl=
Auth__EnforceWhitelist=false
RateLimit__PermitLimit=30
RateLimit__Window=60