Logging__LogLevel__Default=
Logging__LogLevel__Microsoft.AspNetCore=
ConnectionStrings__DefaultConnection=
Osu__ClientId=
Osu__ClientSecret=
Osu__RedirectUrl=
Players__Osu__Enabled=
Players__Osu__MarkAllOutdated=
Players__Osu__BatchSize=
Players__Osu__BatchIntervalSeconds=
Players__Osu__PlayerOutdatedAfterDays=
Players__OsuTrack__Enabled=
Players__OsuTrack__MarkAllOutdated=
Players__OsuTrack__BatchSize=
Players__OsuTrack__BatchIntervalSeconds=
Players__OsuTrack__PlayerOutdatedAfterDays=
Tournaments__Enabled=
Tournaments__BatchSize=
Tournaments__BatchIntervalSeconds=