.idea/
logs/
.vs/

**/*.idea/
**/obj/
**/bin/
**/appsettings.json
**/appsettings.*.json
scripts/inserts
**/apptests.json

app.env
db.env
redis.env
postgres_exporter.env

.DS_Store
*.DotSettings.user
*Backup.csproj
*.csproj.user
.vscode/
