Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
ConnectionStrings__DefaultConnection=
Osu__ApiKey=
Osu__ClientId=
Osu__ClientSecret=
Jwt__Key=
Jwt__Issuer=
Auth__WebLoginAuthSecret=
Auth__PrivilegedClientSecret=
Auth__ClientCallbackUrl=