name: Qodana PR Scan

on:
  # Trigger on pull request updates when *.cs files change
  pull_request:
    paths:
      - '**/*.cs'
  # Trigger on pushes to master
  push:
    branches:
      - master

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }} # Check out PR head or the push commit
          fetch-depth: 0 # Full history for analysis

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.2
        with:
          args: --linter,jetbrains/qodana-dotnet:2024.2
          use-caches: true
          post-pr-comment: false
          pr-mode: ${{ github.event_name == 'pull_request' }}
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_903418561 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'