name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0 # a full history is required for pull request analysis
      - name: "Qodana Scan"
        uses: JetBrains/qodana-action@v2025.1
        with:
          args: --ide,QDNET
          pr-mode: ${{ github.event_name == 'pull_request' }}
          post-pr-comment: false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
